LLAMA_MODEL_PATH=./models/qwen2.5-7b-instruct-q4_k_m-00001-of-00002.gguf

LLAMA_N_GPU_LAYERS=0
LLAMA_N_CTX=2048
LLAMA_N_THREADS=4
LLAMA_PRELOAD_MODEL=true
LLAMA_VERBOSE=false
LLAMA_CHAT_FORMAT=

API_KEY=